<% classString = 'Block PadWidth Tile BopPost' %>
<% classString << ' NewPost' if is_new_post %>
<div class='<%= classString %>'>
  <div>
    <%= image_tag(post.image_url, class: 'PostImage') %>
    <span class='PostEmbed'>
      <%= post.embed_code %>
    </span>
  </div>
  <div class=''>
    <%= post.title.to_html('h1') %>
    <% if !post.body.blank? %>
      <%= post.body.to_html('p') %>
    <% end %>
    <p class='PostMeta'>Posted by <%= link_to post.author.name, post.author.path_with_slug %> &bull; <%= link_to local_time_ago(post.created_at), post_path(post) %></p>
  </div>
  <footer class='clearfix'>
    <span class='SocialActions left'>
      <%= post.twitter_button %>
      <%= post.facebook_buttons %>
    </span>
    <span class='PostActions right'>
      <span class='DownloadButton'>
        <a href='<%= post.download_link %>' class='' target download>Download</a>
      </span>
      &bull;
      <span class='CommentLink'>
        <%= link_to 'Say something&hellip;'.html_safe, '#', title: 'I\'m giving up on you' %>
      </span>
    </span>
  </footer>
</div>