<% classString = 'Block PadWidth Tile YoutubePost' %>
<% classString << ' NewPost' if is_new_post %>
<div class='<%= classString %>'>
  <% if is_logged_in %>
    <span class='DeletePost' data-post-id='<%= post.id %>'>&times;</span>
  <% end %>
  <% if is_logged_in %>
    <% class_string = post.is_deleted ? 'PostDeleted' : 'PostDeleted Hidden' %>
    <div class='<%= class_string %>'>Post deleted. <a href='#' class='UndoPostDelete' data-post-id='<%= post.id %>'>Undo.</a></div>
  <% end %>
  <div class='PostContent <%= "Faded" if post.is_deleted %>'>
    <div class='PostEmbed'>
      <%= post.embed_code %>
    </div>
    <div class='PostBody'>
      <%#= image_tag(post.image_url, class: 'PostImage') %>
      <div class='PostText'>
        <%= post.title.to_html('h1') %>
        <% if !post.body.blank? %>
          <%= post.body.to_html('p') %>
        <% end %>
      </div>
      <p class='PostMeta'>Posted by <%= link_to post.author.name, post.author.path_with_slug %> &bull; <%= link_to local_time_ago(post.created_at), post.path_with_slug %></p>
    </div>
    <%= render 'shared/post_footer', post: post, vote: vote %>
  </div>
</div>