<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
      <script>
        (function(f,b,g){
            var xo=g.prototype.open,xs=g.prototype.send,c;
            f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
            f._hjSettings={hjid:9733, hjsv:2};
            function ls(){f.hj.documentHtml=b.documentElement.outerHTML;c=b.createElement("script");c.async=1;c.src="//static.hotjar.com/c/hotjar-9733.js?sv=2";b.getElementsByTagName("head")[0].appendChild(c);}
            if(b.readyState==="interactive"||b.readyState==="complete"||b.readyState==="loaded"){ls();}else{if(b.addEventListener){b.addEventListener("DOMContentLoaded",ls,false);}}
            if(!f._hjPlayback && b.addEventListener){
                g.prototype.open=function(l,j,m,h,k){this._u=j;xo.call(this,l,j,m,h,k)};
                g.prototype.send=function(e){var j=this;function h(){if(j.readyState===4){f.hj("_xhr",j._u,j.status,j.response)}}this.addEventListener("readystatechange",h,false);xs.call(this,e)};
            }
        })(window,document,window.XMLHttpRequest);
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52940419-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

      </script>
    <% end %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property='og:site_name' content='Tunetap|Blog' />
    <% if content_for?(:og_title) %>
      <meta property='og:title' content='<%= yield(:og_title) %>' />
    <% end %>
    <% if content_for?(:og_image) %>
      <meta property='og:image' content='<%= yield(:og_image) %>' />
    <% end %>

    <title><%= content_for?(:title) ? yield(:title) : 'Tunetap|Blog' %></title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script async>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=334784883339975&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id='container'>
      <div id='left'>
        <div id='logo'>
          <a href='/'>
            <%= image_tag 'logo.png', size: '35x35' %>
            <span id='name'>Blog</span>
          </a>
        </div>
      </div>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='right'>
        <div id='social'>
          <!-- Using Unicode characters rather than classes to avoid Adblock issue -->
          <span class='fa fa-fw'><a href='http://instagram.com/tunetap/' target='_blank'>&#xf16d;</a></span>
          <span class='fa fa-fw'><a href='https://www.facebook.com/TunetapMusic' target='_blank'>&#xf09a;</a></span>
          <span class='fa fa-fw'><a href='https://twitter.com/Tunetap' target='_blank'>&#xf099;</a></span>
          <span class='fa fa-fw'><a href='https://soundcloud.com/tunetap' target='_blank'>&#xf1be;</a></span>
        </div>
      </div>
    <script src="http://fb.me/react-0.11.1<%= '.min' if Rails.env.production? %>.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>