<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) << ' | Camelback Music' : 'Camelback Music' %></title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='container'>
      <div id='left'>
        Left
      </div>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='right'>
        <a href='/contributors/'>Admin</a>
      </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>